{{>header}}

<title>Labsky - Home</title>

{{>navbar}}

{{>breadcrum}}

<!-- Contact Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="display-6 mb-3">Have Any Query? Feel Free To Contact Us</h1>
            <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tellus augue, iaculis id
                elit eget, ultrices pulvinar tortor.</p>
        </div>
        <div class="row contact-info position-relative g-0 mb-5">
            <div class="col-lg-6">
                <a href="tel:+0123456789" class="d-flex justify-content-lg-center bg-primary p-4">
                    <div class="icon-box-light flex-shrink-0">
                        <i class="bi bi-phone text-dark"></i>
                    </div>
                    <div class="ms-3">
                        <h5 class="text-white">Call Us</h5>
                        <h2 class="text-white mb-0">+012 345 67890</h2>
                    </div>
                </a>
            </div>
            <div class="col-lg-6">
                <a href="mailto:info@example.com" class="d-flex justify-content-lg-center bg-primary p-4">
                    <div class="icon-box-light flex-shrink-0">
                        <i class="bi bi-envelope text-dark"></i>
                    </div>
                    <div class="ms-3">
                        <h5 class="text-white">Mail Us</h5>
                        <h2 class="text-white mb-0">info@example.com</h2>
                    </div>
                </a>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                {{!-- <p class="mb-4">The contact form is currently inactive. Get a functional and working contact form
                    with
                    Ajax & PHP in a few minutes. Just copy and paste the files, add a little code and you're done. <a
                        href="https://htmlcodex.com/contact-form">Download Now</a>.</p> --}}

            {{#if show}}
            <p class="text-success">Thanks To Share You Query With US!!!! Our Team Will Contact You Soon</p>
            {{/if}}

                <form method="post" action="/contact-us">
                    <div class="row g-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Your Name">
                            <label for="name">Your Name</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="number" class="form-control" id="name" name="phone" placeholder="Your Phone">
                                <label for="phone">Your Phone Number</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="email" name="email" placeholder="Your Email">
                                <label for="email">Your Email</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject">
                                <label for="subject">Subject</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control" name="message" placeholder="Leave a message here" id="message"
                                    style="height: 200px"></textarea>
                                <label for="message">Message</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary py-3 px-5 w-100" type="submit">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <iframe width="600" height="500" id="gmap_canvas"
                    src="https://maps.google.com/maps?q=krishna%20power%20generator%20kundli&t=&z=13&ie=UTF8&iwloc=&output=embed"
                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
{{>footer}}